@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.content {
  margin-left: 17.125rem;
  transition: margin-left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    margin-right 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  opacity: 1;
  background: transparent;

  width: calc(100% - 17.125rem);
}

.content.collapsed {
  margin-left: 6rem;
  width: calc(100% - 6rem);
}

.content__header {
  height: 300px;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  background: rgb(17, 205, 239);
  z-index: -1;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 24px;
}

.card {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(17, 28, 68);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  box-shadow: rgba(103, 116, 142, 0.075) 0rem 0rem 1rem 0rem;
  padding: 24px 16px;
}

.cardHeaderText {
  margin: 0px;
  font-size: 24px;
  line-height: 1.5;
  opacity: 1;
  text-transform: capitalize;
  vertical-align: unset;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  margin-bottom: 12px;
}

.cardItem {
  margin-bottom: 8px;
  line-height: 0;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
}

.cardItem > span {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.cardItem > p {
  display: inline-block;
  margin: 0px;
  font-size: 14px;
  line-height: 1.25;
  opacity: 1;
  text-transform: capitalize;
  vertical-align: unset;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.cardItem span {
  overflow: visible;
}

@media screen and (max-width: 1280px) {
  .cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .card {
    grid-column: span 1 / span 1 !important;
  }
}
